main > div {
	align-items: start;
	display: grid;
	grid-template-areas:
		"shoes socks shorts";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	text-align: center;
}

main > div > section:nth-of-type(1) {
	grid-area: shoes;
}

main > div > section:nth-of-type(2) {
	grid-area: socks;
}

main > div > section:nth-of-type(3) {
	grid-area: shorts;
}

main > div > section {
	align-items: center;
	background-color: #486B8A;
	color: #DCDCDC;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: start;
	margin: 0 auto;
	width: 90%;
}

main > div > section h2 {
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 2%;
}

main > div > section p {
	font-size: 0.75em;
	margin-bottom: 4%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
}

main > div > section > a {
	display: block;
}

main > div section a img {
	display: block;
	margin-top: 5%;
	max-width: 256px;
	width: 100%;
}

@media screen and (max-width: 1024px) {
	main header h1 {
		font-size: 3em;
	}

	main header p {
		font-size: 1em;
	}

	main div section h2 {
		font-size: 1em;
	}

	main div section p {
		font-size: 0.6em;
	}
}

@media screen and (max-width: 768px) {
	body {
		grid-template-rows: 20% 75% 5%;
	}

	nav ul {
		flex-direction: column;
	}

	nav ul li a {
		font-size: 1.2em;
	}

	main div section h2 {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 425px) {
	main header h1 {
		font-size: 2em;
		margin-top: 10%;
	}

	main header p {
		font-size: 0.8em;
		margin-bottom: 5%;
		margin-top: 5%;
	}

	main > div {
		display: grid;
		grid-template-areas:
			"shoes"
			"socks"
			"shorts";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		margin-bottom: 5%;
		margin-top: 5%;
		row-gap: 2%;
	}

	main div section {
		padding: 0;
	}

	main > div > section:nth-of-type(3) {
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 375px) {
	main header p {
		font-size: 0.7em;
	}

	main > div > section:nth-of-type(3) {
		margin-bottom: 10%;
	}
}