main header {
	color: #486B8A;
	text-align: center;
}

main header h1 {
	font-size: 5em;
	margin-bottom: 0;
	margin-top: 10%;
}

main header p {
	font-size: 1.5em;
	margin-bottom: 15%;
	margin-top: 1.5%;
}

main section:nth-of-type(1) {
	background-color: #486B8A;
	color: #DCDCDC;
	padding-bottom: 2%;
	padding-top: 2%;
	text-align: center;
}

main section:nth-of-type(1) h2 {
	font-size: 1.75em;
	font-weight: bold;
	margin-bottom: 2%;
}

main section:nth-of-type(1) p {
	font-size: 1.25em;
	line-height: 1.2em;
	margin-left: 18%;
	margin-right: 18%;
}

main section:nth-of-type(1) p:nth-of-type(2) {
	margin-top: 2%;
}

main section:nth-of-type(2) {
	text-align: center;
}

main section:nth-of-type(2) p {
	font-size: 1.25em;
}

main section:nth-of-type(2) p:nth-of-type(1) {
	margin-top: 12%;
}

main section:nth-of-type(2) p:nth-of-type(2) {
	margin-bottom: 4%;
	margin-top: 1%;
}

main section:nth-of-type(2) a {
	background-color: #486B8A;
	color: #DCDCDC;
	font-size: 1.25em;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
}

main section:nth-of-type(2) a:hover, main section:nth-of-type(2) a:focus {
	color: #C1B3A3;
}