html {
	background-color: white;
}

body {
	background-color: white;
	background-image: none;
	display: grid;
	grid-template-areas:
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.2fr;
	width: 100%;
}

nav {
	display: none;
}

main header, main section h2, main section p, main section a {
	color: black;
}

main section:nth-of-type(2) a, main section:nth-of-type(2) button {
	display: none;
}

footer p {
	color: black;
}