html {
	background-color: #707070;
	height: 100%;
}

body {
	background-color: #DCDCDC;
	background-image: repeating-linear-gradient(
			20deg,
			#C1B3A3 0%,
			#C1B3A3 15%,
			transparent 15%,
			transparent 43%
	);
	height: 100%;
	margin: 0 auto;
	max-width: 960px;
	width: 50%;
}

nav {
	background-color: #486B8A;
}

nav ul {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	justify-content: center;
}

nav ul li {
	margin-bottom: 0.5em;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.5em;
}

nav ul li a {
	color: #DCDCDC;
	display: block;
	font-size: 1.4em;
	font-weight: bold;
}

nav ul li a:hover, nav ul li a:focus {
	color: #C1B3A3;
}

main header {
	color: #486B8A;
	text-align: center;
}

main header h1 {
	font-size: 5em;
	margin-bottom: 0;
	margin-top: 10%;
}

main header p {
	font-size: 1.5em;
	margin-bottom: 15%;
	margin-top: 1.5%;
}

main section:nth-of-type(1) {
	background-color: #486B8A;
	color: #DCDCDC;
	padding-bottom: 2%;
	padding-top: 2%;
	text-align: center;
}

main section:nth-of-type(1) h2 {
	font-size: 1.75em;
	font-weight: bold;
	margin-bottom: 2%;
}

main section:nth-of-type(1) p {
	font-size: 1.25em;
	line-height: 1.2em;
	margin-left: 18%;
	margin-right: 18%;
}

main section:nth-of-type(1) p:nth-of-type(2) {
	margin-top: 2%;
}

main section:nth-of-type(2) {
	text-align: center;
}

main section:nth-of-type(2) p {
	font-size: 1.25em;
}

main section:nth-of-type(2) p:nth-of-type(1) {
	margin-top: 12%;
}

main section:nth-of-type(2) p:nth-of-type(2) {
	margin-bottom: 4%;
	margin-top: 1%;
}

main section:nth-of-type(2) a {
	background-color: #486B8A;
	color: #DCDCDC;
	font-size: 1.25em;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
}

main section:nth-of-type(2) a:hover, main section:nth-of-type(2) a:focus {
	color: #C1B3A3;
}

footer {
	background-color: #486B8A;
	bottom: 0;
	height: 5%;
	max-width: 960px;
	position: absolute;
	width: inherit;
}

footer p {
	color: #DCDCDC;
	font-weight: 600;
	margin-top: 1em;
	text-align: center;
}