main {
	grid-template-areas:
		"header"
		"section";
	grid-template-columns: 1fr;
	grid-template-rows: 0.6fr 1fr;
}

main section {
	align-items: center;
	background-color: #486B8A;
	display: flex;
	flex-direction: column;
	grid-area: section;
	padding-bottom: 4%;
	padding-top: 4%;
}

main section p {
	color: #DCDCDC;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 2%;
	text-align: center;
}

main section form label {
	display: none;
}

main section form input {
	background-color: #DCDCDC;
	border: none;
	color: #486B8A;
	display: block;
}

main section form input[type="email"] {
	font-size: 1.5em;
	margin: 0 auto;
	max-width: 400px;
	width: 100%;
}

main section form input[type="email"]::placeholder {
	color: #486B8A;
	text-align: center;
}

main section form input[type="submit"] {
	font-size: 1.6em;
	font-weight: bold;
	margin: 0 auto;
	max-width: 125px;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	width: 100%;
}

main section form input[type="submit"]:hover, main section form input[type="submit"]:focus {
	background-color: #C1B3A3;
}

@media screen and (max-width: 1024px) {
	main header h1 {
		font-size: 3.5em;
	}

	main section p {
		font-size: 1.1em;
	}

	main section form input[type="email"] {
		font-size: 1.2em;
	}

	main section form input[type="submit"] {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 768px) {
	body {
		grid-template-rows: 20% 75% 5%;
	}

	nav ul {
		flex-direction: column;
	}

	nav ul li a {
		font-size: 1.2em;
	}

	main section form input[type="email"] {
		margin-bottom: 2%;
		margin-top: 2%;
	}
}

@media screen and (max-width: 425px) {
	main header h1 {
		font-size: 2em;
	}

	main section p {
		font-size: 0.8em;
	}

	main section form input[type="email"] {
		font-size: 0.8em;
	}

	main section form input[type="submit"] {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 375px) {
	main header h1 {
		font-size: 2em;
	}

	main section p {
		font-size: 0.7em;
	}
}