main header {
	color: #486B8A;
	text-align: center;
}

main header h1 {
	font-size: 5em;
	margin-top: 10%;
}

main section {
	margin-bottom: 5%;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 3%;
	padding-bottom: 2%;
	padding-top: 2%;
}

main section form section:nth-of-type(1), main section form section:nth-of-type(2) {
	background-color: #486B8A;
}

main section form section input {
	border: none;
}

main section form section h2 {
	color: #DCDCDC;
	font-size: 2.5em;
	margin-bottom: 2.5%;
	text-align: center;
}

main section form section label {
	display: block;
	text-align: center;
}

main section form section label input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

main section form section label input[type="number"] {
	background-color: #DCDCDC;
	max-width: 150px;
	width: 100%;
}

main section form section label input[type="number"]::placeholder {
	color: #486B8A;
	font-size: 1.2em;
	text-align: center;
}

main section form section label select {
	background-color: #DCDCDC;
	color: #486B8A;
}

main section form section:nth-of-type(2) div {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
}

main section form section h3 {
	color: #DCDCDC;
	font-size: 1.25em;
	margin-bottom: 5%;
	text-align: center;
}

main section form section div p {
	color: #DCDCDC;
	font-size: 1.5em;
	margin-bottom: 2%;
}

main section form section input[type="submit"], main section form section input[type="reset"] {
	background-color: #486B8A;
	color: #DCDCDC;
	display: block;
	font-size: 1.6em;
	margin: 0 auto;
	margin-bottom: 2%;
	max-width: 25%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	width: 100%;
}

main section form section input[type="submit"]:hover,
main section form section input[type="submit"]:focus,
main section form section input[type="reset"]:hover,
main section form section input[type="reset"]:focus {
	color: #C1B3A3;
}
