main {
	grid-template-areas:
		"header"
		"section";
	grid-template-columns: 1fr;
	grid-template-rows: 0.6fr 1fr;
}

main > div {
	grid-area: section;
	height: 100%;
}

main > div > form {
	display: grid;
	grid-template-areas:
		"form-input"
		"form-output"
		"form-controls";
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 0.5fr 0.3fr;
}

main > div > form > section:nth-of-type(1) {
	grid-area: form-input;
}

main > div > form > section:nth-of-type(1) > div {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 75%;
}

main > div > form > section:nth-of-type(2) {
	grid-area: form-output;
	text-align: center;
}

main > div > form > section:nth-of-type(1), main > div > form > section:nth-of-type(2) {
	background-color: #486B8A;
	color: #DCDCDC;
	margin: 0 auto;
	width: 50%;
}

main > div > form > section > h2 {
	font-size: 2.5em;
	margin-bottom: 2%;
	margin-top: 2%;
	text-align: center;
}

main > div > form > section > div > label {
	display: none;
}

main > div > form > section > div > input {
	border: none;
}

main > div > form > section > div > input[type="number"] {
	background-color: #DCDCDC;
	max-width: 200px;
	text-align: center;
	width: 100%;
}

main > div > form > section > div > input[type="number"]::placeholder {
	color: #486B8A;
	font-size: 1.2em;
	text-align: center;
}

main > div > form > section > div > input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

main > div > form > section > div:nth-of-type(1) > input[type="number"]:nth-of-type(2) {
	margin-bottom: 2%;
	margin-top: 2%;
}

main > div > form > section > div:nth-of-type(2) > input[type="number"]:nth-of-type(1) {
	margin-bottom: 2%;
}

main > div > form > section:nth-of-type(2) div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

main > div > form > section:nth-of-type(2) p {
	font-size: 1.25em;
	margin-bottom: 5%;
}

main > div > form > div {
	grid-area: form-controls;
	margin: 0 auto;
	margin-top: 2%;
	width: 50%;
}

main > div > form > div input[type="submit"],
main > div > form > div input[type="reset"] {
	background-color: #486B8A;
	border: none;
	color: #DCDCDC;
	font-size: 1.6em;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	width: 45%;
}

main > div > form > div input:hover, main > section > form > div input:focus {
	color: #C1B3A3;
}

main > div > form > div input[type="reset"] {
	float: right;
}

@media screen and (max-width: 1024px) {
	main header h1 {
		font-size: 3em;
	}

	main div form section h2 {
		font-size: 1.5em;
	}

	main div form section:nth-of-type(2) div {
		font-size: 0.8em;
	}

	main > div > form > div input[type="submit"],
	main > div > form > div input[type="reset"] {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 768px) {
	body {
		grid-template-rows: 20% 75% 5%;
	}

	nav ul {
		flex-direction: column;
	}

	nav ul li a {
		font-size: 1.2em;
	}

	main div form section:nth-of-type(2) div {
		font-size: 0.7em;
	}

	main > div > form > div input[type="submit"],
	main > div > form > div input[type="reset"] {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 425px) {
	main header h1 {
		font-size: 1.8em;
	}

	main > div > form > section:nth-of-type(1),
	main > div > form > section:nth-of-type(2) {
		width: 100%;
	}

	main > div > form > div {
		width: 100%;
	}

	main > div > form > div input[type="submit"] {
		margin-top: 5%;
	}

	main > div > form > div input[type="reset"] {
		float: none;
		margin-bottom: 5%;
		margin-top: 5%;
	}

	main > div > form > div input[type="submit"],
	main > div > form > div input[type="reset"] {
		font-size: 1em;
		width: 100%;
	}
}