main header {
	color: #486B8A;
	text-align: center;
}

main header h1 {
	font-size: 5em;
	margin-bottom: 2%;
	margin-top: 2%;
}

main section table {
	background-color: #486B8A;
	caption-side: bottom;
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	text-align: center;
	width: 100%;
}

main section table caption {
	color: #486B8A;
	font-weight: bold;
	margin-top: 1%;
}

main section table tr {
	background-color: #DCDCDC;
	color: #486B8A;
}

main section table tr a {
	display: block;
}

main section table tr a:visited {
	color: #486B8A;
}

main section table tr a:hover, main section table tr a:focus {
	color: #C1B3A3;
}

main section table thead tr th {
	font-weight: bold;
	padding-bottom: 1.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-top: 1.5%;
}

main section table td {
	padding-bottom: 2.5%;
	padding-top: 2.5%;
}