main header h1 {
	font-size: 5em;
	font-weight: bold;
}

main section table {
	background-color: #486B8A;
	caption-side: bottom;
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	text-align: center;
	width: 100%;
}

main section table caption {
	color: #486B8A;
	font-weight: bold;
	margin-bottom: 5%;
	margin-top: 1%;
}

main section table tr {
	background-color: #DCDCDC;
	color: #486B8A;
}

main section table tbody tr td a {
	color: #486B8A;
	display: block;
}

main section table tbody tr td a:visited {
	color: #486B8A;
}

main section table tbody tr td a:hover, main section table tbody tr td a:focus {
	color: #C1B3A3;
}

main section table thead tr th {
	font-weight: bold;
	padding-bottom: 1%;
	padding-top: 1%;
}

main section table tbody tr td {
	padding-bottom: 1.5%;
	padding-top: 1.5%;
}

@media screen and (max-width: 1024px) {
	main header h1 {
		font-size: 3.5em;
	}

	main section table tbody tr td {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 768px) {
	body {
		grid-template-rows: 20% 75% 5%;
	}

	nav ul {
		flex-direction: column;
	}

	nav ul li a {
		font-size: 1.2em;
	}

	main section table caption {
		font-size: 0.8em;
	}

	main section table tbody tr td {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 425px) {
	main section table thead tr th {
		font-size: 0.7em;
	}

	main section table tbody tr td {
		font-size: 0.6em;
	}
}

@media screen and (max-width: 375px) {
	main section table caption {
		font-size: 0.7em;
	}

	main section table thead tr th {
		font-size: 0.6em;
	}

	main section table tbody tr td {
		font-size: 0.5em;
	}
}